@import "susy";
@import "partials/normalize";

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

@include border-box-sizing;

img,
embed,
object,
video {
	max-width: 100%;
	height: auto;
}


$susy: (
  columns: 12,
  gutters: 1/16,
  global-box-sizing: border-box,
  debug: (
      image: show,
      output: overlay,
    )
  );

#wrapper {
	@include container;
}

main[role="main"] {
	@include span(9 of 12);
	background: #DBE4EE;
	height: 80vh;
	position: relative;
	z-index: 1;
}

aside {
	@include span(3 last);
	background: #81A4CD;
	height: 80vh;
}

.sexy_line {
	max-width: 80%;
	color: #ccc;
}

nav {
	@include container;
	// background: #82735C;

	ul {
		border-bottom: 6px solid #0f5653;
		overflow: hidden;
		margin-bottom: 0;
	}

	ul li {
		float: left;
		padding: 10px 10px 15px 10px;
		list-style: none;
		background-color: #3E7CB1;
		border-radius: 5px 5px 0 0;
		margin-right: 5px;
		position: relative;
		bottom: -5px;
		z-index: 0;
	}

	ul li:hover {
		background: #054A91;
		bottom: 0;
	}

	a {
		color: #fff;
		text-decoration: none;
	}
}

hr.sexy_line {
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}